/* Remove default spacing from the browser */
*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

/* The Entire Page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333333;
  line-height: 1.6;
}

/* HEADER */
header {
  background-color: #4f46e5;
  color: white;
  text-align: center;
  padding: 30px;
}

header h1 {
  margin-bottom: 10px;
}

header p {
  margin-bottom: 20px;
}

/* FLEXBOX NAVIGATION */

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* MAIN CONTENT */
main {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

/* SECTIONS */
section {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

section h2 {
  margin-bottom: 20px;
  color: #4f46e5;
}

/* FLEXBOX ABOUT SECTION */
.profile-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* PROFILE IMAGE */

profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/* ABOUT TEXT */
.about-text {
  flex: 1;
}
.about-text p {
  margin-bottom: 10px;
}

/* GRID CONTACT FORM */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* LABELS */
label{
  font-weight: bold;
}
/* FORM INPUTS */
input[type="text"],
input[type="email"],
input[type="number"],
textarea{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* INTEREST SECTION */
.interests {
  margin-top: 25px;
  margin-bottom: 25px;
}
.interests p {
  margin-bottom: 10px;
  font-weight: bold;
}

/* MESSAGE */
.message-box {
  margin-bottom: 20px;
}
textarea {
  resize: vertical;
}

/* BUTTON */

button {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3730a3;
}


/* FOOTER */

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
}
/* RESPONSIVE DESIGN */

@media (max-width: 700px) {

    .profile-container {
        flex-direction: column;
        text-align: center;
    }


    .form-grid {
        grid-template-columns: 1fr;
    }


    nav {
        flex-direction: column;
        gap: 10px;
    }

}